@charset "utf-8";
body,h2,ul{ margin:0;}
.hotnews{ width:900px;
         border: 1px solid #CCC;
		 overflow:hidden;
		 margin: 80px 500px;
		 border-top-left-radius:20px;
		
}
h1{
	margin-left: 30px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
li {
	list-style-type: none;
	float:left;
	width:192px;
	margin-right:18px;
	margin-bottom:10px;
}
li p a { 
       display:block;
       text-decoration:none;
	   overflow:hidden;
	   text-overflow:ellipsis;
	   color:#999;
	   white-space:nowrap;
}
a:hover{ color:red;}
